*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://informationcommunicationtechnology.com/wp-content/uploads/2018/07/Tumblr-Backgrounds-123.jpg');
}

h3{
    color: #fff;
    font-size: 65px;
}

p{
     color: #fff;
    font-size: 15px;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://informationcommunicationtechnology.com/wp-content/uploads/2018/07/Tumblr-Backgrounds-123.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;   
    margin-top: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 65px;
}
.wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper h1{
    color: #fff;
    font-size: 65px;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color:#fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000
}


/*CONTACT PAGE STYLE*/

.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact h2{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
}

input,textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.textField, .messageField{
    width: 100%;
    height: 45px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 15px;
    transition: 0.6s ease;
}

.messageField{
    max-width: 100%;
    min-height: 130px;
    padding: 10px;
}

.textField:focus, .messageField:focus{
    border-color: #fff;
}

.submitButton{
    width: 100%;
    height: 45px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

/*About Page*/

.box{
    width: 450px;
    height: 400px;
    padding: 70px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }